/* Fonts */

 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Head */

:root {
  --blue-color: #047AED;
}

 *{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
  }

  body {
    font-family: 'Lato', sans-serif;
    color:black;
    line-height: 1.6;
  }

  ul{
    list-style-type: none;
    display: flex;
  }


  a {
    text-decoration: none;
    color: black;
    font-size: 22px;
  }


  h1, h2 {
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0px;
  }

  p{
    margin: 10px 0px;
  }

  img{
    width: 100%;
  }


/* Navbar style */

  .navbar{
    background-color: #fff;
    Color: var(--blue-color);
    height: 80px;
  }

  .navbar .flex{
    justify-content: space-between;
  }

  .navbar ul{
    display: flex;
  }

  .navbar li{
    border-bottom: 2px solid transparent;
    margin: 0 20px;
    padding: 3px 0px;
  }

  .navbar li:hover{
    border-bottom: 2px solid var(--blue-color);
    transform: translateY(-2px);
  }

  .navbar a{
    color: var(--blue-color);
  }

  .navbar a:hover {
    color: var(--blue-color);

  }

  .logo{
    background-color: var(--blue-color);
    padding: 10px;
    border-radius: 10px;
    color: white;
  }

/* MainContent */

.mainContent{
  height: 600px;
  background-color: var(--blue-color);
  color: #fff;
  position: relative;
}

.mainContent h1{
  font-size: 30px;
}

.mainContent p{
  margin: 20px 0;
}

.mainContent .grid{
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}

.mainContentForm{
  position:relative;
  top: 100px;
  height: 500px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-content: flex-end;
}
.mainContentForm .formControl{
  margin: 30px 0px;
}

.mainContentForm input[type='text'],
.mainContentForm input[type='email'],
.mainContentForm input[type='textarea']{
    border: 0;
    border-bottom: 1.5px solid #b4becb;
    width:100%;
    padding: 3px;
    font-size: 16px;
}

.mainContentForm input:focus{
  outline: none;
}


.photoIndex{
  
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

/* Stats */

.stats{
  padding-top: 30px;

}

.stats .grid h3{
    font-size: 35px;
}

.stats .grid p{
  font-size: 20px;
  font-weight: bold;
}

.stats-heading{
  color:white;
  background-color: var(--blue-color);
  padding: 10px 0;
  border-radius: 5px;
}

img {
  border-radius: 5px;
}

.cover{
  background-image: url(pictures/solidity.png);
  background-size: cover;
}

/* Code */

.code .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #fff;
  padding-bottom: 20px;
}

.code .grid > *:first-child{
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
}

.Money{
  background-color: var(--blue-color);
  border-radius: 5px;
  padding: 15px 0;
  color: #fff;
  transition: background-color 0.5s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

.Money:hover {
  background-color: #6faeec;
  cursor: pointer;
}

.Podium{
  background-color: var(--blue-color);
  border-radius: 5px;
  padding: 15px 0;
  color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

.Podium:hover {
  background-color: #6faeec;
  cursor: pointer;
  transition: background-color 0.5s;
}

.Charts{
  background-color: var(--blue-color);
  border-radius: 5px;
  padding: 15px 0;
  color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

.Charts:hover {
  background-color: #6faeec;
  cursor: pointer;
  transition: background-color 0.5s;
}


/* strip */

.strip {
   grid-template-columns: 4fr 3fr;
   height: 250px;
   background-color: var(--blue-color);
   color: white;
  
  
}



.eth{
max-width: 200px;
max-height: 250px;
}

.logoMoney{
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.logoPodium{
  width: 120px;
  height: 80px;
  margin-bottom: 10px;
}

.logoCharts{
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.homeLogo{
  width: 60px;
  height: 75px;
  margin-right: 20px;
}

.telLogo{
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.mailLogo{
  width: 60px;
  height: 60px;
  margin-right: 20px;
}


/* Utilities */

  .container{
      max-width: 1100px;
      margin: 0 auto;
      overflow: auto;
      padding: 0 40px ;
  }


  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .grid {
    display: grid;
    
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .grid2{
    text-align: center;
    display: grid;
    gap: 20px;
    grid-template-columns: 60% 40%;
  }

  .grid-3{
    grid-template-columns: repeat(3, 1fr);
  }

  .imgWrapper{
    text-align: center;
  }

  .background{
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 10px;
    color: #333;
    
  }

  .nobackground{
    background-color: var(--blue-color);
    border-radius: 5px;
    color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    height: 80px;
    padding-top: 10px;
    text-align: center;
    font-weight: 100;
    transition: background-color 0.5s;
  }

  .nobackground:hover{
    background-color: #6faeec ;
  }

  .nobackground2{
    
    height: 80px;
    text-align: center;
    padding-top: 10px;
    width: auto;
  }

  .btn2{
    background: white;
    color:var(--blue-color);
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    border: 2px solid var(--blue-color);
    border-radius: 5px;
  }

  .btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--blue-color);
    color: #fff;
    border: none;
    border-radius: 5px;
  }

  .btn-outline{
      background-color: transparent;
      border: #fff 1px solid;
      color: #fff;
     
  }

  .btn-dark{
   background-color: transparent;
   border: 1px solid #fff;
   margin-top: 10px;
    width:150px;
    height:50px;
    margin-left: 20px;
    font-size: 16px;
}

  .btn:hover{
    transform: scale(0.98);

  }

  .btn2:hover{
    transform: scale(0.98);

  }

  

  .btn-primary{
    margin-top: 10px;
    width:150px;
    height:50px;
    margin-left: 20px;
    font-size: 18px;

  }

  .btn-primary:hover{
    transform: scale(0.98);
  }

  #message {
    width: 100%;
        height: 100px;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #b4becb;

  }

  .textCenter{
    text-align: center;
    font-size: 1.7em;
  }



  /* Margin */

  .my-1{
    margin: 1rem 0;
  }

  .my-2{
    margin: 1.5rem 0;
  }

  .my-3{
    margin: 2rem 0;
  }

  .my-4{
    margin: 3rem 0;
  }

  .my-5{
    margin: 4rem 0;
  }

  .m-1{
    margin: 1rem 0;
  }

  .m-2{
    margin: 1.5rem 0;
  }

  .m-3{
    margin: 2rem 0;
  }

  .m-4{
    margin: 3rem 0;
  }

  .m-5{
    margin: 4rem 0;
  }


   /* Padding */

   .py-1{
    padding: 1rem 0;
  }

  .py-2{
    padding: 1.5rem 0;
  }

  .py-3{
    padding: 2rem 0;
  }

  .py-4{
    padding: 3rem 0;
  }

  .py-5{
    padding: 4rem 0;
  }

  .p-1{
    padding: 1rem 0;
  }

  .p-2{
    padding: 1.5rem 0;
  }

  .p-3{
    padding: 2rem 0;
  }

  .p-4{
    padding: 3rem 0;
  }

  .p-5{
    padding: 4rem 0;
  }

  .lg{
    font-size: 2.2em;
  }


  /* About page */

  .aboutContentForm{
    position: relative;
    top: 60px;
    height: 580px;
    width: 400px;
    padding: 0;
    overflow: hidden;
  }

  .aboutContentForm2{
    position: relative;
    top: 60px;
    height: 580px;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }

  .aboutContent{
    grid-template-columns: 45% 55%;
    overflow: visible;
    height: 580px;
    width: 100%;
  background-color: #fff;
  color: var(--blue-color);
  
  }


  /* Contact */

  .addressWrapper{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: flex-start;
  }

  .phoneWrapper{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: flex-start;
  }

  .emailWrapper{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: flex-start;
  }

  .contactContentText{
    margin-left: 20px;
    margin-top: 80px;
    padding: 50px 50px;
    font-size: 1.3em;
    border: 3px solid white;
    border-radius: 10px;
  }

  .contactContainer{
    height: 600px;
  
  }